body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
  color: #000;
}

main {
  max-width: 500px;
  margin: 10vh auto;
  padding: 0 2rem;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

input, select, button {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 0.5rem;
  font-family: inherit;
  border-radius: 0;
}

input[type="range"] {
  border: none;
  accent-color: #000;
  width: 50%;
}

.form-actions {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

button {
  flex: 1;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background: #000;
  color: #fff;
}

button.active {
  background: #000;
  color: #fff;
}
